namePrefix: stage-
commonLabels:
  variant: stage


# in stage we have 2 replicas
replicas:
- count: 2
  name: simple


# apply some patches
  # apply health checks to deployment

  # change the host name of the generated route

# this patch needs to be done, because kustomize does not change 
# the route target service name
patches:
- path: apply-health-checks.yaml
  target:
    kind: Deployment
    name: simple
    version: v1
- patch: |-
    - op: replace
      path: /spec/host
      value: simple-stage-art-stage.apps-crc.testing
  target:
    kind: Route
- patch: |-
    - op: replace
      path: /spec/to/name
      value: stage-simple
  target:
    kind: Route

# change env parameter in config-map 
# we could also simply generate the config-map from a source
# or we could use one of the patches above for this
patchesStrategicMerge:
- change-env-value.yaml
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
- ../../base
images:
- digest: sha256:f1446ebdda392745374b7839bb958f5c306c0b6f65c275dd83c0d9d729099b7a
  name: quay.io/wpernath/simple-quarkus:latest
  newName: quay.io/wpernath/quarkus-simple-wow
